{% extends "blog/base.html" %}

{% block content %}
    <h1>Регистрация</h1>

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        Имя пользователя:
        <input type="text" name="username"><br>
        Email:
        <input type="email" name="email"><br>
        Пароль:
        <input type="password" name="password"><br>
        Повторите пароль:
        <input type="password" name="password2"><br>
        <input type="submit" value="Зарегистрироваться">
    </form>
{% endblock %}
